/* Some colors and dark mode settings (based around Flatly and Darkly themes) */

:root {
    --span-bg-blue: #d6eaf8;
    --span-bg-yellow: #fdebd0;
    --span-bg-red: #fadbd8;
    --span-bg-mono: #f3f4f6;
}

.quarto-dark {
    --span-bg-blue: #164363;
    --span-bg-yellow: #664008;
    --span-bg-red: #5b1e18;
    --span-bg-mono: #373737;    
}

/* Smooth transitions for all interactive elements */
a, button, .btn {
    transition: all 0.2s ease;
}

/* Tombstone (Q.E.D. symbol) after proofs */
.proof:not(.remark) {
    margin-bottom: 0.5em;
    overflow: auto;
}

.proof:not(.remark)::after {
    content: "□";
    float: right;
    font-weight: bold;
}

/* Announcements in school colors */
.notebox {
    background-color: #FFD24F;
    border: 1pt solid #003069;
    border-left: 3mm solid #003069;
    color: black;
    padding: 1em;
    border-radius: 0;
    margin-bottom: 1em;
}